 * {
            box-sizing: border-box;
        }

        /* Button used to open the contact form - fixed at the bottom of the page */
        .open-button {
            background-color: #555;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            opacity: 0.8;
            position: fixed;
            bottom: 23px;
            right: 28px;
            width: 280px;
        }

        /* The popup form - hidden by default */
        .form-popup {
            display: none;
            position: fixed;
            bottom: 0;
            right: 15px;
            border: 3px solid #f1f1f1;
            z-index: 9;
        }

        /* Add styles to the form container */
        .form-container {
            max-width: 300px;
            padding: 10px;
            background-color: white;
        }

        /* Full-width input fields */
        .form-container input[type=text],
        .form-container input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            border: none;
            background: #f1f1f1;
        }

        /* When the inputs get focus, do something */
        .form-container input[type=text]:focus,
        .form-container input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

        /* Set a style for the submit/login button */
        .form-container .btn {
            background-color: #04AA6D;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            margin-bottom: 10px;
            opacity: 0.8;
        }

        /* Add a red background color to the cancel button */
        .form-container .cancel {
            background-color: red;
        }

        /* Add some hover effects to buttons */
        .form-container .btn:hover,
        .open-button:hover {
            opacity: 1;
        }

        .img-design {
            display: block;

            margin-left: auto;

            margin-right: auto;

            width: 50%;

            height: 50%;
        }

        .text-editting {
            text-align: center;

            color: black;
        }

        .mysize {
            color: aliceblue;

            text-align: center;

            font-size: 25px;
            
            color: black;
        }

        .centring {
            
            text-align: center;
            

        }

        .continer {
            margin-left: 18%;

            border: 10px solid gold ;

            margin-right: 18%;

            background-color: white;
            
            
        }
        
        .qut{
        
            color: whitesmoke
        }


        .button-format {
            background-color:black;

            margin-left: auto;

            margin-right: auto;

            display: block;

            cursor: pointer;

            font-weight: 700;

            font-family: Helvetica, "sans-serif";

            transition: all 0.2s;

            padding: 10px 20px;

            border-radius: 100px;

            background: #cfef00;

            border: 1px solid transparent;

            display: flex;

            align-items: center;
            
            font-size: 15px;
        }

        button:hover svg {
            transform: translateX(5px);
        }

        button:active {
            transform: scale(0.75);
        }

        body {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1010%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsSymbol1017' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1017' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1010'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1013'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1011'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1014'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1015'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1012'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1016'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1017'%3e%3cuse xlink:href='%23SvgjsPath1011' x='30' y='30' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='30' y='90' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='30' y='150' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='30' y='210' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='30' y='270' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='30' y='330' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='30' y='390' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='30' y='450' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='30' y='510' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='30' y='570' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='90' y='30' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1015' x='90' y='90' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='90' y='150' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='90' y='210' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='90' y='270' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='90' y='330' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='90' y='390' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='90' y='450' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1016' x='90' y='510' stroke='rgba(239%2c 251%2c 89%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='90' y='570' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='150' y='30' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='150' y='90' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='150' y='150' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='150' y='210' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1015' x='150' y='270' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='150' y='330' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1015' x='150' y='390' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='150' y='450' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='150' y='510' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='150' y='570' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='210' y='30' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='210' y='90' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='210' y='150' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='210' y='210' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1015' x='210' y='270' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1015' x='210' y='330' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='210' y='390' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='210' y='450' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='210' y='510' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='210' y='570' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='270' y='30' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='270' y='90' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='270' y='150' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='270' y='210' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='270' y='270' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='270' y='330' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='270' y='390' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='270' y='450' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='270' y='510' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1016' x='270' y='570' stroke='rgba(239%2c 251%2c 89%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='330' y='30' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='330' y='90' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='330' y='150' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='330' y='210' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='330' y='270' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='330' y='330' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='330' y='390' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='330' y='450' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1015' x='330' y='510' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='330' y='570' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='390' y='30' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='390' y='90' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1015' x='390' y='150' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='390' y='210' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='390' y='270' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='390' y='330' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='390' y='390' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1015' x='390' y='450' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='390' y='510' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='390' y='570' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='450' y='30' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='450' y='90' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='450' y='150' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='450' y='210' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1015' x='450' y='270' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='450' y='330' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='450' y='390' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='450' y='450' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1015' x='450' y='510' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='450' y='570' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='510' y='30' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='510' y='90' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='510' y='150' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='510' y='210' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='510' y='270' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='510' y='330' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='510' y='390' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='510' y='450' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='510' y='510' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1015' x='510' y='570' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='570' y='30' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='570' y='90' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='570' y='150' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='570' y='210' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1016' x='570' y='270' stroke='rgba(239%2c 251%2c 89%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='570' y='330' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='570' y='390' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='570' y='450' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='570' y='510' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='570' y='570' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1015' x='630' y='30' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='630' y='90' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1011' x='630' y='150' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='630' y='210' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='630' y='270' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='630' y='330' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1015' x='630' y='390' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='630' y='450' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='630' y='510' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1015' x='630' y='570' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='690' y='30' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='690' y='90' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1014' x='690' y='150' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1015' x='690' y='210' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='690' y='270' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1013' x='690' y='330' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='690' y='390' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='690' y='450' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1012' x='690' y='510' stroke='rgba(239%2c 251%2c 89%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1016' x='690' y='570' stroke='rgba(239%2c 251%2c 89%2c 1)' stroke-width='3'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
        }